@use "sass:map";
@use "sass:list";
@use "../functions" as fns;
@use "../variables/colors-generator" as clrs;

@mixin clr($name, $property: color, $opacity: 100, $important: false) {
  @if $name == none and not $important {
    #{$property}: transparent;
  } @else if $name == none and $important {
    #{$property}: transparent !important;
  } @else {
    $color: #{fns.get-clr($name, $opacity)};
    @if not $important {
      #{$property}: $color;
    } @else {
      #{$property}: $color !important;
    }
  }
}

@mixin clr-txt($type: main, $opacity: 100, $important: false) {
  @if list.index(main light dark invert, $type) {
    $type: text-#{$type};
  }
  @include clr($type, $opacity: $opacity, $important: $important);
}

@mixin clr-bg($type: main, $opacity: 100, $important: false) {
  @if list.index(main secondary tertiary invert, $type) {
    $type: background-#{$type};
  }
  @include clr($type, background-color, $opacity, $important);
}
