@use "sass:map";

$shared: (
  primary: hsl(234, 77%, 43%),
  secondary: hsl(213, 96%, 11%),
  dark: hsl(0, 0%, 5%),
  light: hsl(0, 0%, 97%),
  grey-50: hsl(210, 20%, 98%),
  grey-100: hsl(220, 14%, 96%),
  grey-200: hsl(220, 13%, 91%),
  grey-300: hsl(216, 12%, 84%),
  grey-400: hsl(218, 11%, 65%),
  grey-500: hsl(220, 9%, 46%),
  grey-600: hsl(215, 14%, 34%),
  grey-700: hsl(217, 19%, 27%),
  grey-800: hsl(0, 0%, 14%),
  grey-900: hsl(0, 0%, 10%),
  link: hsl(204, 90%, 74%),
  error: hsl(357, 96%, 60%),
  success: hsl(112, 60%, 74%),
  info: hsl(212, 100%, 53%),
  warn: hsl(50, 100%, 68%),
  selector: hsl(222, 28%, 91%),
  input-background: hsl(228, 14%, 93%),
  input-select-selected-bg: hsl(200, 99%, 64%),
  input-border: hsl(223, 12%, 89%),
  input-checkbox: hsl(234, 66%, 59%),
  default-border: hsl(223, 12%, 89%),
  hover-text-background: hsl(223, 12%, 89%),
  focus: hsl(234, 77%, 43%, 40%),
  icon-focus: hsl(234, 77%, 43%, 90%)
);

$light: (
  text: map.get($shared, dark),
  text-invert: map.get($shared, light),
  background: map.get($shared, grey-50),
  background-invert: map.get($shared, dark),
  nav: map.get($shared, grey-100),
  button: map.get($shared, grey-300)
);

$dark: (
  text: map.get($shared, light),
  text-invert: map.get($shared, dark),
  background: map.get($shared, grey-900),
  background-invert: map.get($shared, light),
  nav: map.get($shared, grey-800),
  button: map.get($shared, grey-700)
);
