@use "sass:map";
@use "../mixins/generate-variables" as *;

$fonts-names: (
  poppins: "'Poppins', sans-serif"
);

$fonts-families: (
  main: map.get($fonts-names, "poppins")
);

$fonts-weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  "black": 900
);

$fonts-sizes: (
  "xs" clamp(0.75rem, 1.5vw, 0.875rem) clamp(1rem, 1.8vw, 1.25rem),
  "sm" clamp(0.875rem, 1.8vw, 1rem) clamp(1.25rem, 2vw, 1.5rem),
  "base" clamp(1rem, 2vw, 1.125rem) clamp(1.5rem, 3vw, 1.75rem),
  "lg" clamp(1.125rem, 3vw, 1.25rem) clamp(1.75rem, 4vw, 1.85rem),
  "xl" clamp(1.25rem, 4vw, 1.5rem) clamp(1.85rem, 5vw, 2rem),
  "2xl" clamp(1.5rem, 5vw, 1.875rem) clamp(2rem, 6vw, 2.25rem),
  "3xl" clamp(1.875rem, 6vw, 2.25rem) clamp(2.25rem, 7vw, 2.5rem),
  "4xl" clamp(2.25rem, 7vw, 3rem) clamp(2.5rem, 8vw, 3.25rem),
  "5xl" clamp(3rem, 8vw, 3.75rem) clamp(3.25rem, 9vw, 4rem),
  "6xl" clamp(3.75rem, 9vw, 4.5rem) clamp(4rem, 10vw, 4.85rem),
  "7xl" clamp(4.5rem, 10vw, 6rem) clamp(4.85rem, 11vw, 6.25rem),
  "8xl" clamp(6rem, 11vw, 8rem) clamp(6.25rem, 12vw, 8.5rem),
  "9xl" clamp(8rem, 12vw, 9rem) clamp(8.5rem, 13vw, 9.5rem)
);

$fonts-sizes-names: "xs" "sm" "base" "lg" "xl" "2xl" "3xl" "4xl" "5xl" "6xl"
  "7xl" "8xl" "9xl";

@mixin fonts {
  @include generate-variables($fonts-families, "fnt");
  @include generate-variables($fonts-weights, "fnt-w");
  @each $size, $value, $line-height in $fonts-sizes {
    --fnt-s-#{$size}: #{$value};
    --fnt-lh-#{$size}: #{$line-height};
  }
}
